.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close--icon {
  width: 11px;
  height: 11px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

      &:hover,
      &:focus {
        fill: $main-color;
  }
}
.modal__close--btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  cursor: pointer;

  &:hover,
      &:focus {
        fill: $main-color;
  }
}
.modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.modal__form--policy:checked + .modal__form--policy-text::before {
  background-color: $main-color;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  outline: 1px solid $main-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal__form--wrapper {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

    h3 {
      text-align: center;
      padding-bottom: 12px;
      }
}

.modal__label--text,
.modal__policy--text {
  color: $secound-color;
}

.modal__form--label {
  padding-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;

  textarea {
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    resize: none;
    height: 120px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 4px; 
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
          border: 1px solid $main-color;
        }
    }
}

.modal__form--input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}
.modal__label--wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;

    svg {
    position: absolute;
    fill: $dark-background;
    margin-left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    input {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
          border: 1px solid $main-color;
        }
        &:focus + svg {
          fill: $main-color;
        }
    }
}

.modal__policy--wrapper {
  display: flex;
}

.modal__form--policy {
    cursor: pointer;
    display: flex;

    input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

    a {
    text-decoration: underline;
    color: $main-color;

      &:hover {
      opacity: 0.8;
      }
      &:focus {
      opacity: 0.8;
      }
    }
}
 
.modal__form--policy-text {
  text-align: center;

        &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 7px;
        outline: 1px solid #000;
        border-radius: 2px;
      }
}
.modal__policy--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

    & + a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $main-color;
    text-decoration: underline;
    }
}

.modal__btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}