$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-color: #2196f3;
$secound-color: #757575;
$third-color: #212121;
$main-background: #e5e5e5;
$grey-backgroung: #f5f4fa;
$dark-background: #2f303a;
